<div class="container">
  <div class="row mt-5">
    <div class=" d-flex flex-column align-items-center">
      <input type="text" [(ngModel)]="filteredStatus">
      <br> <br>
      <button class="btn btn-danger" (click)="onAddServer()">Add Server </button>
      <br><br>
      <h2>App Status: {{ appStatus | async}}</h2>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filteredStatus: 'status"
          [ngClass]="getStatusClasses(server)">
          <strong>{{ server.name | shorten: 10}}</strong> |
          {{ server.instanceType | uppercase}} |
          {{ server.started | date: 'fullDate' | uppercase}}
          <span
            class="badge">
            {{ server.status }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
