<div class="row">
  <div class="col-12 col-lg-6">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0' }"
        [fragment]="'loading'"
        fragment = "loadings"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <router-outlet></router-outlet>
<!--  To load child component  -->
<!--    <a (click)="onReload()" >Reload Page</a>-->
<!--    <app-edit-server></app-edit-server>-->
<!--    <hr>-->
<!--    <app-server></app-server>-->
  </div>
</div>

<!--[routerLink]="['/servers', server.id, 'edit']"-->
